src/main/resources/api/NumberingManagementService.wsdl

<WL5G3N0:definitions name="NumberingManagementService" targetNamespace="http://www.movistar.com.ar/ws/amdocs/NumberingManagementService" xmlns:WL5G3N0="http://schemas.xmlsoap.org/wsdl/" xmlns:WL5G3N1="http://www.movistar.com.ar/ws/schema/amdocs/NumberingManagementService" xmlns:WL5G3N2="http://www.movistar.com.ar/ws/amdocs/NumberingManagementService" xmlns:WL5G3N3="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns="http://www.w3.org/2001/XMLSchema" xmlns:ns1="http://schemas.xmlsoap.org/soap/encoding/">
	<WL5G3N0:documentation>

	</WL5G3N0:documentation>
	<WL5G3N0:types>
		<xsd:schema targetNamespace="http://www.movistar.com.ar/ws/amdocs/NumberingManagementService" xmlns:ns="http://www.movistar.com.ar/ws/schema/amdocs/NumberingManagementService" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.movistar.com.ar/ws/amdocs/NumberingManagementService" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:import namespace="http://www.movistar.com.ar/ws/schema/amdocs/NumberingManagementService" schemaLocation="NumberingManagementService.xsd"/>
		</xsd:schema>
	</WL5G3N0:types>
	
	<WL5G3N0:message name="GetTollFreeNumberRequest">
		<WL5G3N0:part name="getTollFreeNumberRequest" element="WL5G3N1:getTollFreeNumberRequest"/>
	</WL5G3N0:message>
	<WL5G3N0:message name="GetTollFreeNumberResponse">
		<WL5G3N0:part name="getTollFreeNumbersResponse" element="WL5G3N1:getTollFreeNumberResponse"/>
	</WL5G3N0:message>
	<WL5G3N0:message name="LockTollFreeNumberRequest">
		<WL5G3N0:part name="lockTollFreeNumberRequest" element="WL5G3N1:lockTollFreeNumberRequest"/>
	</WL5G3N0:message>
	<WL5G3N0:message name="LockTollFreeNumberResponse">
		<WL5G3N0:part name="lockTollFreeNumberResponse" element="WL5G3N1:lockTollFreeNumberResponse"/>
	</WL5G3N0:message>
	<WL5G3N0:message name="UnlockTollFreeNumberRequest">
		<WL5G3N0:part name="unlockTollFreeNumberRequest" element="WL5G3N1:unlockTollFreeNumberRequest"/>
	</WL5G3N0:message>
	<WL5G3N0:message name="UnlockTollFreeNumberResponse">
		<WL5G3N0:part name="unlockTollFreeNumberResponse" element="WL5G3N1:unlockTollFreeNumberResponse"/>
	</WL5G3N0:message>
	<WL5G3N0:message name="ActivateTollFreeNumberRequest">
		<WL5G3N0:part name="activateTollFreeNumberRequest" element="WL5G3N1:activateTollFreeNumberRequest"/>
	</WL5G3N0:message>
	<WL5G3N0:message name="ActivateTollFreeNumberResponse">
		<WL5G3N0:part name="activateTollFreeNumberResponse" element="WL5G3N1:activateTollFreeNumberResponse"/>
	</WL5G3N0:message>
	<WL5G3N0:message name="CeaseTollFreeNumberRequest">
		<WL5G3N0:part name="ceaseTollFreeNumberRequest" element="WL5G3N1:ceaseTollFreeNumberRequest"/>
	</WL5G3N0:message>
	<WL5G3N0:message name="CeaseTollFreeNumberResponse">
		<WL5G3N0:part name="ceaseTollFreeNumberResponse" element="WL5G3N1:ceaseTollFreeNumberResponse"/>
	</WL5G3N0:message>
	
	
	<WL5G3N0:portType name="NumberingManagementServicePortType">
		<WL5G3N0:operation name="GetTollFreeNumber">
			<WL5G3N0:input name="inputGetTollFreeNumber" message="WL5G3N2:GetTollFreeNumberRequest"/>
			<WL5G3N0:output name="outputGetTollFreeNumber" message="WL5G3N2:GetTollFreeNumberResponse"/>
		</WL5G3N0:operation>
		<WL5G3N0:operation name="LockTollFreeNumber">
			<WL5G3N0:input name="inputLockTollFreeNumber" message="WL5G3N2:LockTollFreeNumberRequest"/>
			<WL5G3N0:output name="outputLockTollFreeNumber" message="WL5G3N2:LockTollFreeNumberResponse"/>
		</WL5G3N0:operation>
		<WL5G3N0:operation name="UnlockTollFreeNumber">
			<WL5G3N0:input name="inputUnlockTollFreeNumber" message="WL5G3N2:UnlockTollFreeNumberRequest"/>
			<WL5G3N0:output name="outputUnlockTollFreeNumber" message="WL5G3N2:UnlockTollFreeNumberResponse"/>
		</WL5G3N0:operation>
		<WL5G3N0:operation name="ActivateTollFreeNumber">
			<WL5G3N0:input name="inputActivateTollFreeNumber" message="WL5G3N2:ActivateTollFreeNumberRequest"/>
			<WL5G3N0:output name="outputActivateTollFreeNumber" message="WL5G3N2:ActivateTollFreeNumberResponse"/>
		</WL5G3N0:operation>
		<WL5G3N0:operation name="CeaseTollFreeNumber">
			<WL5G3N0:input name="inputCeaseTollFreeNumber" message="WL5G3N2:CeaseTollFreeNumberRequest"/>
			<WL5G3N0:output name="outputCeaseTollFreeNumber" message="WL5G3N2:CeaseTollFreeNumberResponse"/>
		</WL5G3N0:operation>
	</WL5G3N0:portType>
	<WL5G3N0:binding name="NumberingManagementServiceBinding" type="WL5G3N2:NumberingManagementServicePortType">
		<WL5G3N3:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		
		<WL5G3N0:operation name="GetTollFreeNumber">
			<WL5G3N3:operation soapAction="http://www.movistar.com.ar/ws/amdocs/NumberingManagementService/GetTollFreeNumber"/>
			<WL5G3N0:input name="inputGetTollFreeNumber">
				<WL5G3N3:body use="literal"/>
			</WL5G3N0:input>
			<WL5G3N0:output name="outputGetTollFreeNumber">
				<WL5G3N3:body use="literal"/>
			</WL5G3N0:output>
		</WL5G3N0:operation>
		<WL5G3N0:operation name="LockTollFreeNumber">
			<WL5G3N3:operation soapAction="http://www.movistar.com.ar/ws/amdocs/NumberingManagementService/LockTollFreeNumber"/>
			<WL5G3N0:input name="inputLockTollFreeNumber">
				<WL5G3N3:body use="literal"/>
			</WL5G3N0:input>
			<WL5G3N0:output name="outputLockTollFreeNumber">
				<WL5G3N3:body use="literal"/>
			</WL5G3N0:output>
		</WL5G3N0:operation>
		<WL5G3N0:operation name="UnlockTollFreeNumber">
			<WL5G3N3:operation soapAction="http://www.movistar.com.ar/ws/amdocs/NumberingManagementService/UnlockTollFreeNumber"/>
			<WL5G3N0:input name="inputUnlockTollFreeNumber">
				<WL5G3N3:body use="literal"/>
			</WL5G3N0:input>
			<WL5G3N0:output name="outputUnlockTollFreeNumber">
				<WL5G3N3:body use="literal"/>
			</WL5G3N0:output>
		</WL5G3N0:operation>
		<WL5G3N0:operation name="ActivateTollFreeNumber">
			<WL5G3N3:operation soapAction="http://www.movistar.com.ar/ws/amdocs/NumberingManagementService/ActivateTollFreeNumber"/>
			<WL5G3N0:input name="inputActivateTollFreeNumber">
				<WL5G3N3:body use="literal"/>
			</WL5G3N0:input>
			<WL5G3N0:output name="outputActivateTollFreeNumber">
				<WL5G3N3:body use="literal"/>
			</WL5G3N0:output>
		</WL5G3N0:operation>
		<WL5G3N0:operation name="CeaseTollFreeNumber">
			<WL5G3N3:operation soapAction="http://www.movistar.com.ar/ws/amdocs/NumberingManagementService/CeaseTollFreeNumber"/>
			<WL5G3N0:input name="inputCeaseTollFreeNumber">
				<WL5G3N3:body use="literal"/>
			</WL5G3N0:input>
			<WL5G3N0:output name="outputCeaseTollFreeNumber">
				<WL5G3N3:body use="literal"/>
			</WL5G3N0:output>
		</WL5G3N0:operation>
	</WL5G3N0:binding>
	<WL5G3N0:service name="NumberingManagementService">
		<WL5G3N0:port name="NumberingManagementServicePort" binding="WL5G3N2:NumberingManagementServiceBinding">
			<WL5G3N3:address location="http://10.167.52.136:7010/NumberingManagementService"/>
		</WL5G3N0:port>
	</WL5G3N0:service>
</WL5G3N0:definitions>